@CHARSET "UTF-8";
@font-face {
    font-family: "ChantelliAntiquaRegular";
    src: url("../font/KaushanScript-Regular.otf");
}
body {
	background-color:#FFF;
	
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: 0px;
}
#top_div{
	position: relative;
	width: 100%;
	height: 30px;
	background-color: #F5F8FA;
}

#top_menu_div{
	position: relative;
	
	width: 1350px;
	height: 60px;
	background-color:#FF4401;
}
#top_menu_div label.title_sign{
	position: relative;
	width:200px;
	left: 10px;
	top:15px;
	//font-family: "ChantelliAntiquaRegular", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
}
#top_menu_div ul.top_menu{
	position: absolute;
	left: 200px;
	top:10px;
	
}
#top_menu_div ul.top_menu li{
	position: relative;
	margin-left:50px;
	float: left;
	height:30px;
	cursor: hand;
	
	font-size: 15px;
	
}
#top_menu_div p.point{
	position: absolute;
	top:30px;
	left:296px;
	color: #FFF;
	
}
#account_setup{
	position: absolute;
	display:none;
	left:-190px;
	top:30px;
	width: 470px;
	height:200px;
	background-color: #FFF;
	border:1px #AAA solid;
	z-index: 5;
	box-shadow:2px 2px 2px #AAA; 
	
}
#account_setup ul.setup_div{
	position:relative;
	list-style: none;
	margin:0px;
	padding:0px;
	top:20px;
	width:120px;
	float: left;
	
}

#account_setup ul.setup_div  a.title{
	position: relative;
	font-size: 20px;
	cursor: default;
	
}
#account_setup ul.setup_div li{
	position: relative;
	font-size:10px;
	width:150px;
	height:20px;
	margin-top:15px;
	left: -30px;
	
	
}
#account_setup ul.setup_div li a{
	text-decoration:none;
	color:black;
	cursor: hand;
}
#account_setup ul.setup_div li a:HOVER{
	color: #FF4401;
}
#safe_set {
	left: 50px;
}
#safe_set a.title{
	color:#3aac8a;
}
#person_date {
	left: 70px;
}
#person_date a.title{
	color:#ea746b;
}
#account_bind {
	left: 100px;
}
#account_bind a.title{
	color:#398ee8;
}
#center_div{
	position: relative;
	width: 1350px;
	
	min-height: 600px;
	height:auto;
	
	overflow:hidden;
	zoom:1;
	
}
#menu_div{
	position: relative;
	float:left;
	left:10px;
	top: 30px;
	width: 120px;
	min-height: 400px;
	height:auto;
	//background-color: green;
	
	
}
#all_function{
	position:relative;
	display: block;
	color: #FF4401;
	margin-top:5px;
	font-size: 15px;
	cursor: hand;
	
}
#menu_div a.a_menu{
	position:relative;
	display: block;
	margin-top:8px;
	font-size: 13px;
	cursor: hand;
	
	
}
#menu_div a.a_menu:HOVER{
	color: #FF4401;
}
#menu_div ul{
	position:relative;
	margin:0px;
	padding:0px;
	list-style: none;
	
	//border: 1px black solid;
}
#menu_div ul a{
	
	
	
}
#menu_div ul a:HOVER{
    color: #FF4401;
}
#menu_div ul li{
	//display: none;
	position:relative;
	margin-top:5px;
	left:20px;
	font-size: 10px;
	
	cursor: hand;
}
#center_right{
	position: relative;
	float:left;
	top:30px;
	left:20px;
	width: 1000px;
	min-height: 400px;
	height:auto;
	//background-color: green;
	
	
}
#user_div{
	position: relative;
	width: 1000px;
	height: 100px;
	
	overflow: hidden;
	border: 1px #DDD solid;
}
#user_div_top{
	position: relative;
	width: 1000px;
	height: 65px;
	background-color: #F5F8FA;
	overflow: hidden;
}
#user_div_top img.u_img{
	position: relative;
	top:10px;
	left:20px;
	width: 50px;
	height: 50px;
	border-radius:25px;
	cursor: hand;
}
#user_div_top a.u_name{
	position: relative;
	margin-left: 30px;
	cursor:hand;
	color: #C40000;
	
}
#user_div_top a.user_div_function{
	position: relative;
	top:-10px;
	font-size: 15px;
	
	color:#68A5DB;
	cursor: hand;
}
#user_div_top #address {
	left: 300px;
}
#user_div_top #discount {
	left: 350px;
}
#user_div_top #alipay{
	left: 400px;
}
#user_div_top a.user_div_function:HOVER{
	color:#C40000;
}
#user_div_bottom{
	position: relative;
	
	width: 1000px;
	height: 35px;
	
	background-color: #FFF;
	border-top:1px blue solid;
}
#user_div_bottom ul{
	position: relative;
	margin:0px;
	padding:0px;
	
}
#user_div_bottom ul li{
	float: left;
	
	width:250px;
	height:35px;
	text-align:center;
	font-size: 15px;
	color:#AAA;
}
#user_div_bottom ul li:HOVER{
	color:#C40000;
}
#user_div_bottom ul li a{
	position:relative;
	
	display:block;
	top:10px;
	border-right: 1px solid #68A5DB;
	
	cursor: hand;
}
#ware_div{
	position:relative;
	margin-top:20px;
	width: 1000px;
	height: 300px;
	border: 1px #AAA solid;
}
#ware_div div.ware_top_div{
	position:relative;
	width: 1000px;
	height: 90px;
	background-color: #F5F8FA;
}
#ware_div div.ware_bottom_div{
	position:relative;
	width: 1000px;
	height: 200px;
	background-color:#FFF;
	border-top:1px blue solid;
}



