@CHARSET "UTF-8";
#user_div{
	height: 25px;
	background-color: black;
	
}
#user_div #u_img{
	position: relative;
	left:1150px;
	width: 25px;
	height: 25px;
	
}
#user_div #u_img:HOVER{
	box-shadow:1px 2px 3px white;
	cursor: hand;
}
#user_div #username{
	position:relative;
	left: 1150px;
	top:-2px;
	color:#C40000;
}
#user_div #username:HOVER{
	cursor:hand;
	color: white;
}
#user_div #user_menu{
	display:none;
	position: absolute;
	left:1190px;
	width: 70px;
	height: 50px;
	background-color: rgba(255,255,255,.5);
}
#user_div #user_menu a{
	
	display: block;
	font-size:15px;
	position: relative;
	margin-top: 5px;
	box-shadow: 2px 2px 2px #333;
}
#user_div #user_menu a:HOVER{
	cursor: hand;
	background-color: #0A83FF;
	color:white;
	
}
#user_div #user_menu #user_out:HOVER{
	background-color: #C40000;
}

#user_div #about_us{
	position: relative;
	left: 1170px;
	top:-2px;
	color:#C40000;
	font-size: 10px;
}
#user_div #about_us:HOVER{
	text-decoration:underline;
	cursor: hand;
}